<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('build/app.css') }}" rel="stylesheet">

    {% endblock %}
</head>
<body>
{% block body %}

    <div id="uploadImage" action="{{ path('upload') }}" class="dropzone">
        <div class="fallback">
            <input name="file" type="file" multiple id="fileUploaded"/>
        </div>
    </div>

    <section>
        <div class="search-container">
            <div class="row">
                <div class="col-3">
                    <form action="{{ path('all_images') }}" method="GET">
                        <div class="input-group">
                            <input type="text" class="form-control" name="buscarElastic" placeholder="Buscar imagen ">
                            <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit" >Buscar</button>
                        </span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="all-images">
                <a href="{{ path('all_images') }}">Ver todas las imagenes</a>
            </div>
        </div>
    </section>


{% endblock %}
{% block javascripts %}
    <script src="{{ asset('build/manifest.js') }}"></script>
    <script src="{{ asset('build/vendor.js') }}"></script>
    <script src="{{ asset('build/app.js') }}"></script>
{% endblock %}
</body>
</html>
