<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('build/app.css') }}" rel="stylesheet">

    {% endblock %}
</head>
<body>
{% block body %}


    {% for image in images %}
        {% set pathImg =  '/uploads/' ~ image.uid ~ image.filter ~ image.name  %}
        <img id="imageSaved"  src="{{ pathImg }}" >


    {% endfor %}

{% endblock %}
{% block javascripts %}
    <script src="{{ asset('build/manifest.js') }}"></script>
    <script src="{{ asset('build/vendor.js') }}"></script>
    <script src="{{ asset('build/app.js') }}"></script>
{% endblock %}
</body>
</html>
